[submodule "crates/contracts/messaging/solidity/lib/forge-std"]
	path = crates/contracts/messaging/solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "tests/snos/snos"]
	path = tests/snos/snos
	url = https://github.com/cartridge-gg/snos
	branch = kariy/0.13.4
[submodule "crates/explorer/ui"]
	path = crates/explorer/ui
	url = https://github.com/cartridge-gg/explorer
	branch = main
[submodule "crates/cartridge/controller"]
	path = crates/cartridge/controller
	url = https://github.com/cartridge-gg/controller-rs.git
[submodule "crates/contracts/contracts/vrf"]
	path = crates/contracts/contracts/vrf
	url = https://github.com/cartridge-gg/vrf.git
[submodule "crates/contracts/contracts/avnu"]
	path = crates/contracts/contracts/avnu
	url = https://github.com/avnu-labs/paymaster
