[submodule "crates/contracts/messaging/solidity/lib/forge-std"]
	path = crates/contracts/messaging/solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
[submodule "crates/contracts/piltover"]
	path = crates/contracts/piltover
	url = https://github.com/keep-starknet-strange/piltover.git
[submodule "tests/snos/snos"]
	path = tests/snos/snos
	url = https://github.com/cartridge-gg/snos
	branch = kariy/0.13.4
